<% layout(('/layouts/boilerplate.ejs')) %> 
<div class="row">
    <h1 class="text-center mb-5">Edit <%= park.title  %> </h1>
    <div class="col-6 offset-3">
        <form action="/nationalparks/<%=park._id%>?_method=PUT" method="POST" class="validated-form" novalidate>
            <div>
                <div class="mb-3">
                    <label class="form-label" for="title">Name</label>
                    <input class="form-control" type="text" value="<%= park.title %>" name="title" id="title" required>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label" for="location">Location (State)</label>
                        <input class="form-control" type="text" value="<%= park.location %>" name="location" id="location" required>
                    </div>
                    <div class="col">
                        <label class="form-label" for="entry">Entry fee</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                              <div class="input-group-text">₹</div>
                            </div>
                            <input type="text" class="form-control" value="<%= park.entry %>" id="entry" name="entry" required>
                          </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Image URL</label>
                    <input class="form-control" type="text" id="image" name="image" value="<%= park.image %>" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" name="description" id="description" cols="30" rows="5" required>
                        <%= park.description %>
                    </textarea>
                </div>
            </div>
            <button class="btn btn-primary mb-3">Submit</button>
        </form>
        <a class="btn btn-dark" href="/nationalparks">All National Parks</a>
    </div>
</div>