<% layout(('/layouts/boilerplate.ejs')) %>

<div class="row">
    <div class="col-6 offset-3">
        <img src="<%= park.image %>" class="card-img-top" alt="">
        <div class="card-body">
            <h3 class="card-title"><%= park.title %></h3>
            <p class="card-text text-muted"><%= park.location %></p>
            <p class="card-text"><%= park.description %></p>
            <p class="text-primary">Entry Fee: <%= park.entry %> INR/day</p>

            <a class="btn btn-warning mb-3" href="/nationalparks/<%= park._id %>/edit">Edit</a>
            <form class="d-inline" action="/nationalparks/<%= park._id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger mb-3">DELETE</button>
            </form>
        </div>
    </div>
</div>