<% layout(('/layouts/boilerplate.ejs')) %>
<div class="row">
    <div class="col-6 offset-3">
        <h1><%= park.title %></h1>
        <h4>Location:<%= park.location %> </h3>
        
            <span>Entry Fee: <%= park.entry %> INR</span>
            <p><%= park.description %> </p>
        
        
            <img src="<%= park.image %>" alt="">
            <a href="/nationalparks">All National Parks</a>
            <a href="/nationalparks/<%= park._id %>/edit">Edit</a>
        
        <form action="/nationalparks/<%= park._id%>?_method=DELETE" method="POST">
            <button>DELETE</button>
        </form>
    </div>
</div>

    
